@import "../../assets/variables";

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  background-color: white;

  &__container {
    background-color: $quaternary;
    width: 35rem;
    height: 35rem;
    padding: 3rem 4rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  &__title {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 2rem;
    font-family: $font-primary;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__button {
    background-color: $tertiary;
    color: black;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 20rem;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 4rem;

    &:hover {
      background-color: darken($tertiary, 10%);
    }
  }

  &__error {
    color: red;
    max-height: 0.001rem;
  }
}

.input-field-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .input__login-page {
    width: 100%;
    padding-right: 3rem;
  }

  &__toggle {
    position: absolute;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
