@import "../../assets/variables";
@import "./_navbar-core";
@import "./_navbar-search";
@import "./_navbar-buttons";
@import "./_navbar-profile";
@import "./_navbar-logout";

.navbar__logo {
  font-size: 0rem;
}

.navbar__logo img {
  height: 7rem;

  @media (max-width: 768px) {
    height: 3rem;
  }
}
