@import "../../assets/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: $primary;
  height: 8rem;
  width: 100%;

  &__left {
    display: flex;
    align-items: center;
    gap: 6rem;
  }

  &__right {
    display: flex;
    gap: 4rem;
    margin-right: 3rem;

    button,
    .navbar__button {
      background-color: $secondary;
      border: none;
      border-radius: 20rem;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      width: 10rem;
      height: 4rem;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      text-decoration: none;
      color: black;

      transition: background 0.2s ease;

      &:hover {
        background-color: $tertiary;
      }

      &:active,
      &:focus,
      &:visited {
        color: black;
        outline: none;
      }
    }
  }

  &__logo {
    font-size: 4rem;
    font-family: $font-primary;
    text-decoration: none;
    &:visited {
      color: black;
      outline: none;
    }
  }

  &__search-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    right: 2rem;
    font-size: 1.2rem;
    color: #888;
  }

  &__searchbar {
    border-style: none;
    border-radius: 20rem;
    width: 25rem;
    height: 4rem;
    padding-left: 3rem;
    font-size: 1.3rem;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 99;
    display: flex;
    flex-direction: column;
    max-height: 15rem;
    overflow-y: auto;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInDropdown 0.25s ease forwards;

    a {
      padding: 0.75rem 1rem;
      color: black;
      text-decoration: none;
      font-size: 1.3rem;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }

      &.selected {
        background-color: #e0e0e0;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

@keyframes fadeInDropdown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
